.header-bar {
    background-color: aqua;
    height: 60px;
    
    h1{
        line-height: 60px;
    }
}

aside {

 .main-body{
     width: 70%;
     margin-left: auto;
     margin-right: auto;

    article {
        float:left;
        margin: 10px;
            img {
                width: 100px;
                height: 200px;
            }
        }
    }
}